extends layout

block scripts
  script(type='text/javascript').
    window.app_id = "#{app_id}";
  script(src='//code.jquery.com/jquery-1.9.1.js')
  script(src='/build/kloudless-authenticator.min.js')
  script(src='/test/public/javascripts/kloudless.authenticator.test.js')

block content
  h3 Launch Authenticator

  p Click the button to open the authentication popup for testing.

  button#oauth-test Test OAuth authentication
  button#oauth-test-2 Test OAuth authentication launched programmatically
  button#auth-test Test old authentication

  h3 Result